body {
  background: #f3f4f6;
  font-family: 'Inter', sans-serif;
}

.form-box {
  width: 400px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
}

input, textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

button {
  width: 100%;
  padding: 10px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 8px;
}