/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #f8fafc;
}

/* NAVBAR */
.navbar {
  height: 65px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid #e5e7eb;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.logo {
  font-weight: 600;
  font-size: 18px;
}

/* NAV RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logout {
  color: red;
  text-decoration: none;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #0f172a;
  position: fixed;
  top: 65px;
  padding: 25px 15px;
}

.sidebar a {
  display: block;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  color: #94a3b8;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar a:hover {
  background: #1e293b;
  color: white;
}

.sidebar a.active {
  background: #6366f1;
  color: white;
}

/* MAIN */
.main {
  margin-left: 220px;
  margin-top: 80px;
  padding: 30px;
}